<!-- electronic section start -->
<div class="fashion_section" xmlns:th="http://www.w3.org/1999/xhtml" th:if="${not #lists.isEmpty(productDTOs)}">
    <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital m-3">Products</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4" th:each=" p: ${productDTOs}">
                                <div class="box_main">
                                    <h4 class="shirt_text" th:text="${p.title}"></h4>
                                    <p class="price_text">Start Price <span style="color: #262626;" th:text="${p.price + '$'}"></span></p>
                                    <p class="price_text">Rate <span style="color: #262626;" th:text="${p.rate + ' of 5'}"></span></p>
                                    <div class="electronic_img"><img th:src="${'images/'+p.image}"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fashion_section" xmlns:th="http://www.w3.org/1999/xhtml" th:if="${#lists.isEmpty(productDTOs)}">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital m-3">Products</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <img width="200" src="/images/empty_item.svg"/>
                                </div>
                                <h3 class="text-center">
                                    No Data Found!
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- electronic section end -->
